
nav.enc 
    .enc__img 
        img.logo(src="../assets/lobo.webp", alt="logo pagina" draggable="false")
    ul.enc__pags
        li 
            a(href="/quien-soy") Quien soy?
        li 
            a(href="/lenguajes") Lenguajes
        li 
            a(href="/proyectos") Proyectos
        li
            a(href="/blog") Blog 
        li
            a(href="/contactame") Contáctame
