@import 'global.scss';

h1{
    font-size: 36px;
    margin: 15px 0px;
}

a{
    color: #F2EEB6;
    text-decoration: none;
}

.enc{
    display: flex;
    flex-wrap: wrap;
    background-color: #01062681;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    &__pags{
        display: flex;
        align-items: center;
        list-style: none;
        li a{
            margin: 3px;
        }
    }
}

