doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style.css")
    body 
        header 
            include partials/navbar.pug
            .portada 
                .portada__titulo
                    h1 Blog
                .portada__imagen
                    a(href="")
                        img(src="../assets/wolf.png", alt="fondo blog")
                .portada__descripcion
                    p Hola este es mi blog, espero que te guste


        section.blog 

            article.post
                .post__portada 
                    a(href="")
                        img(src="../assets/hume.jpeg", alt="david hume")
                .post__info 
                    h2.post__info__titulo Hume
                    p.post__info__categoria
                        a(href="") Filosofia
                    p.post__info__fecha 
                        time(datetime="21-10-2022") 21 de octubre 
                    p.post__info__descripcion Nacido en plena Ilustración, la filosofía de Hume tuvo en su núcleo la lucha contra el dogmatismo y las supersticiones. Su crítica a la noción de causa, a la noción del yo y a los milagros, entre otras muchas, devolvieron a la filosofía al suelo firme de la experiencia...
                    button.post__info__boton Leer mas

            article.post
                .post__portada 
                    a(href="")
                        img(src="../assets/ejs.png", alt="Effective JavaScript logo")
                .post__info 
                    h2.post__info__titulo EJS
                    p.post__info__categoria
                        a(href="") Tecnologia
                    p.post__info__fecha 
                        time(datetime="22-10-2022") 22 de octubre 
                    p.post__info__descripcion 'E' is for 'effective'. EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript...
                    button.post__info__boton Leer mas
        aside.sidebar
            section.sidebar__ultimos-articulos
                ul
                    li
                        a(href="") Aprendiendo PUG
                    li
                        a(href="") EMET god
                    li
                        a(href="") Aprendiendo HTML 
                    li
                        a(href="") Por que no se me activan los neones en vs code? :c
            section.sidebar__mas-leidos
                ul
                    li
                        a(href="") Mi viaje a Narnia
                    li
                        a(href="") Como escribir un blog
                    li
                        a(href="") Como inventar titulos para posts de blogs
                    li
                        a(href="") No se que mas poner
            section.sidebar__mis-redes
                ul
                    li
                        a(href="") Discord
                    li
                        a(href="") Instagram
                    li
                        a(href="") Youtube
                    li
                        a(href="") Spotify
        
        include partials/footer.pug