/* 
    CSS FUENTES
    font-family: 'Open Sans', sans-serif;
    font-zise: 16px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;

    CSS COLORES
    color: #000000;
    background-color: #ffffff;

    CSS TEXTOS
    text-align: left;
    text-decoration: none;
    text-transform: none;

    CSS LISTAS
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;

    CSS TABLAS
    border-collapse: collapse;
    border-spacing: 0;

    CSS ENLACES
    a:link {color: #000000;}
    a:visited {color: #000000;}
    a:hover {color: #000000;}

    CSS IMAGENES
    border: 0;
    vertical-align: middle;
    width: 100%;


*/