/* 

    etiqueta
    id
    clase

*/

/* h1 {
    font-size: 50px;
}

.menu {
    display: flex;
}

#menu__avatar {
    width: 50px;
} */

/* QUITAR LISTAS */

/* .lista {
    list-style: none;
} */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* .lista {
    list-style: georgian;
}

.lenguajes .lista {
    list-style: disc;
} */
