@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* #DEFINE */
:root {
    --bg: #3e3e3e;
    --bg-2: #1B1B1B;
    --btn-bg: #32313B;
    --btn-bg-2: #2E3A59;
}

body{
    font-family: 'Fredoka One';
    color: white;
    background-color: var(--btn-bg);
}

.menu{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid transparent;
    /* border-style: solid; */
    border-image: 
        linear-gradient(
            0.25turn,
            var(--bg),
            white,
            var(--bg)

        ) 1 100%;
    border-image-slice: 1;
    width: 100%;
}

.menu__logo{
    height: 34.88px;
    margin: 12.56px 19.07px;
}

.menu__ul{
    list-style: none;
    display: flex;
    gap: 40.18px;
}

.menu__ul__boton a{
    
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.filtros{
    margin: 0px 188px;
    background-color: var(--bg-2);
    border-radius: 10px;
}

.filtros ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}

.filtros li a{
    text-decoration: none;
    color: white;
    
    
}

.filtro__seleccionado{
    background-color: rgba(255, 255, 255, 0.1);
    height: 54px;
    padding: 0px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .filtro__seleccionado a{
    

    
    
} */

.post{
    margin: 26px 188px;
    padding: 20px 42px;
    background-color: var(--bg-2);
    border-radius: 12px;
}

.post__portada{
    border-radius: 12px;
    width: 100%;
}

.post__titulo{
    margin-top: 41px;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}

.post__tags ul{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 24px 0px;
}

.post__tags li a{
    text-decoration: none;
    color: #0e67cf;
    font-size: 20px;
}

.post__info{
    display: flex;
    justify-content: space-between;
}

.post__info__boton ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

.post__info__boton ul button{
    padding: 8px;
    color: white;
    
    border: 0px;
    border-radius: 5px;
}

.reacciones{
    background-color: #32313B;
}

.comentarios{
    background-color: var(--btn-bg-2);
}

.post__info__user{
    display: flex;
}

.datos__nombre{
    font-size: normal;
    font-weight: 700;
    line-height: 19px;
    text-align: right;
}

.datos__fecha{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}

.post__info__user__perfil{
    margin-left: 11px;
    border-radius: 100%;
    border: 2px solid white;
    width: 40px;
}