*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: #011140;
    color: #F2EEB6;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.presentacion{
    text-align: center;
    
}

h1{
    font-size: 36px;
    margin: 15px 0px;
}

.descripcion{
    margin: 30px 0px;
    
}

.enc{
    display: flex;
    flex-wrap: wrap;
    background-color: #01062681;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.enc__pags{
    display: flex;
    align-items: center;
    list-style: none;
}

.enc__pags li a{
    margin: 3px;
    
    
}

a{
    color: #F2EEB6;
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 50px;
}

.portada{
    display: flex;
    flex-wrap: wrap;
    
}

.portada__img{
    width: 150px;
    height: 150px;
}

.secciones{
    margin-top: 25px;
    display: grid;
    grid-template-areas: 
        'a a a a'
        'l l p p'
        'c c c c';
    gap: 25px;
}

.about{
    grid-area: a;
}

.lenguajes{
    grid-area: l;
}

.principal{
    margin: 30px;
    font-size: medium;
}

.proyectos{
    grid-area: p;
}

.contact{
    text-align: center;
    grid-area: c;
}

.redes{
    display: flex;
    
}



.pie{
    display: flex;
    background-color: #8c277b91;
    
}